.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* img {
    display: block;
    width: 100%;
    height: auto;
  } */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */

.navbar {
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-right: 104px;
}
.current {
  color: #fa4a0c;
}

/* hero */
.hero {
  background-color: #252b42;
  background-image: url(../img/hero.png);
  width: 1440px;
  height: 619px;
}

.title-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f6f6;
}

.title-two {
  font-weight: 700;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  width: 799px;
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #f6f6f6;
}

.btn-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fff;
  border-radius: 30px;
  padding: 16px 0px;
  width: 236px;
  height: 68px;
  box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2);
  background: #fa4a0c;
  border: none;
}

.btn-two {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 16px 0px;
  width: 236px;
  height: 68px;
}

/*app */

.app-title-one {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 82%;
  letter-spacing: 0em;
  color: #000;
  opacity: 0.8;
}

.app-text-one {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fa4a0c;
}

.app-title-two {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: #252b42;
  width: 561px;
}

.app-text-two {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  color: #737373;
  width: 568px;
}

/* varieties */

.varieties-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fa4a0c;
}

.varieties-text-one {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: #252b42;
  width: 548px;
}

.varieties-text-two {
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  color: #737373;
  width: 450px;
}

/* order */

.order {
    background-color: #252b42;
    background-image: url(../img/order.png);
    width: 1440px;
    height: 516px;
}

.order-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.order-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.order-btn-one {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 10px;
  padding: 18px 31px;
  width: 142px;
  height: 64px;
  background-color: #fa4a0c;
}

.order-btn-two {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 16px 45px;
  width: 174px;
  height: 60px;
}

/* footer */
.footer {
}


.footer-text {
font-weight: 700;
font-size: 12px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: right;
color: #5c5c5c;
}
